body {
    font-family: "Open Sans", sans-serif;
}

.header {
    height: auto;
    padding: 15px;
    /*display: inline-block;*/
    width: 100%;
    border-bottom: 1px solid #f8eded;
}

.hv-header {
    text-align: center;
}

/* Mobile */
.nav__bars-btn {
    width: 28px;
    height: 28px;
    margin-left: 8px;
    color: black;
    display: none;
}

.nav__overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    animation: fadeIn linear 0.3s;
}


.nav__mobile_list {
    margin-top: 24px;
    text-align: center;
}


.nav__mobile {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 320px;
    max-width: 100%;
    background-color: #fff;
    /* display: none; */
    transform: translateX(-100%);
    opacity: 0;
    transition: transform linear 0.5s, opacity linear 0.5s;
    z-index: 9999;
}

.nav__mobile_link {
    text-decoration: none;
    color: #333;
    display: block;
    padding: 8px 0;
    /*font-size: 1.4 rem;*/
}

.nav__mobile_close {
    width: 28px;
    font-size: 1.4rem;
    color: white;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.carousel-control-next,
.carousel-control-prev {
    display: none;
}


.nav__input:checked ~ .nav__overlay {
    display: block;
}

.nav__input:checked ~ .nav__mobile {
    transform: translateX(0%);
    opacity: 1;
}

.nav__input {
    display: none;
}

@media (max-width: 1023px) {
    .nav__bars-btn {
        display: block;
    }

    .list_pc {
        display: none;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

